.c-form-textarea {
  $border-color-default: #ccc;
  $border-color-borderless: #ccc;
  $c-input-warning-color: #ffeac6;
  $c-input-error-color: #ffdedd;

  // Used if not in a valid form
  .sanity-error {
    color: red;
    font-family: courier;
    font-size: 11px;
  }

  /*
   *  Design mode
   */
  &.c-edit-mode-debug {
    border-top: $c-input-layout-border-color-1;
    border-left: $c-input-layout-border-color-1;
    background-color: $c-input-layout-frame-color;
    border-bottom: $c-input-layout-border-color-2;
    border-right: $c-input-layout-border-color-2;

    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;

    textarea {
      border: solid 1px $c-input-layout-border-color-1;
      font-family: $c-input-default-font-family;
      font-weight: normal;
      font-size: $c-input-layout-font-size;
      padding-top: 0px;
      padding-bottom: 0px;
      color: $c-input-default-color;
      background: $c-input-default-background;
      background-color: white;
      //margin-bottom: 4px;
    }
    &.form-input-borderless {
      textarea {
        border: dashed 1px $border-color-borderless;
        box-shadow: none;
        font-weight: normal;
        background-color: none;
      }
    }
    &.c-selected {
      textarea {
        background: $c-selected-object-background1;
      }
    }
  }//- design mode

  /*
   *  Edit mode
   */
  &.c-edit-mode-edit {
    textarea {
      border: solid 1px $border-color-default;
      font-family: $c-input-default-font-family;
      font-weight: $c-input-default-font-weight;
      font-size: $c-input-default-font-size;
      color: $c-input-default-color;
      background: $c-input-default-background;
      background-color: white;
    }
    &.form-input-borderless {
      textarea {
        border: dashed 1px $border-color-borderless;
        box-shadow: none;
      }
    }
    &.c-selected {
      textarea {
        background: $c-selected-object-background1;
      }
    }
  }

  /*
   *  Live mode
   */
  &.c-edit-mode-view {
    margin-top: -1px;
    margin-left: 2px;
    margin-bottom: 8px;
    label {
      margin-bottom: 1px;
    }
    textarea {
      border: none;
      box-shadow: none;
      font-family: $c-input-default-font-family;
      font-weight: $c-input-default-font-weight;
      font-size: $c-input-default-font-size;
      color: $c-input-default-color;
      background: $c-input-default-background;
      background-color: white;
      border: none;

      &.c-is-empty {
        background: $c-input-empty-background;
      }
      &.error-level-warning {
        background-color: $c-input-warning-color;
        border: solid 2px orange;
      }
      &.error-level-error {
        background-color: $c-input-error-color;
        border: solid 2px red;
      }
      &.c-readonly {
        // For pdf
        font-family: $c-pdf-font-family;
        font-size: $c-pdf-font-size;
        font-weight: $c-pdf-font-weight;
        font-style: $c-pdf-font-style;
        color: $c-pdf-color;
      }
    }
    &.form-input-borderless {
      textarea {
        border: none;
        box-shadow: none;
        background-color: white;
      }
    }
    .my-error-icon {
      width: 30px;
      height: 30px;
      margin-top: 2px;
      margin-right: 5px;
    }
  }//- live mode
}
