.c-form-pdf {
  $bg-default: #ffffe0;
  $border-color-default: #ccc;

  $bg-borderless: #ffff00;
  $border-color-borderless: #ccc;

  $frame-color: goldenrod;
  $text-color: #700;

  // Used if not in a valid form
  .sanity-error {
    color: red;
    font-family: courier;
    font-size: 11px;
  }

  // Design mode
  &.c-edit-mode-debug {
    // border-top: dashed 2px $frame-color;
    // border-left: dashed 2px $frame-color;
    // border-bottom: dashed 2px $frame-color;
    // border-right: dashed 2px $frame-color;

    // border-top: solid 1px yellow;
    // border-left: solid 1px yellow;
    // background-color: goldenrod;
    // border-bottom: solid 1px brown;
    // border-right: solid 1px brown;
    border-top: solid 1px #ccc;
    border-left: solid 2px #ccc;
    background-color: $frame-color;
    border-bottom: solid 1px #999;
    border-right: solid 1px #999;
    padding-left: 2px;
    padding-right: 2px;
    margin: 1px;

    .container {
      width: 90% !important;
    }

    input.form-input-default {
      border-color: $border-color-default;
      background-color: $bg-default;
      //background-color: red;
      font-family: Arial;
      font-weight: bold;
      font-size: 9px;
    }
    input.form-input-borderless {
      border-color: $border-color-borderless;
      zborder: none;
      box-shadow: none;
      zbackground-color: $bg-borderless;
      font-size: 9px;
    }
  }

  // Edit mode
  &.c-edit-mode-edit {
  //.my-edit-mode {
    input.form-input-default {
      border-color: $border-color-default;
      background-color: $bg-default;
      font-family: Arial;
      font-weight: bold;
      font-size: 9px;
    }
    input.form-input-borderless {
      //border-color: $border-color-borderless;
      border: dashed 1px $border-color-borderless;
      box-shadow: none;
      background-color: $bg-borderless;
      font-size: 9px;
    }
  }

  // Live modes
  &.c-edit-mode-view {
    input.my-live-mode.form-input-default {
      border-color: $border-color-default;

      font-family: Arial;
      font-weight: bold;
      font-size: 11px;
      color: blue;
      background-color: #ffffff;
    }
    input.my-live-mode.form-input-borderless {
      border-color: #eee;
      //border: none;
      box-shadow: none;
      font-family: Arial;
      font-weight: bold;
      font-size: 11px;
      color: blue;
      background-color: #ffffff;
    }
  }
}
