.c-form-time {
  $bg-default: #ffffe0;
  $border-color-default: #ccc;

  $bg-borderless: #ffff00;
  $border-color-borderless: #ccc;

  // Used if not in a valid form
  .sanity-error {
    color: red;
    font-family: courier;
    font-size: 11px;
  }

  input {
    max-width: 120px;
  }

  /*
   *  Design mode
   */
  &.c-edit-mode-debug {
    border-top: $c-input-layout-border-color-1;
    border-left: $c-input-layout-border-color-1;
    background-color: $c-input-layout-frame-color;
    border-bottom: $c-input-layout-border-color-2;
    border-right: $c-input-layout-border-color-2;

    padding-left: 2px;
    padding-right: 2px;
    //margin: 1px;

    // .container {
    //   width: 90% !important;
    // }

    input {
      border: solid 1px $c-input-layout-border-color-1;
      font-family: $c-input-default-font-family;
      font-weight: normal;
      font-size: $c-input-layout-font-size;
      color: $c-input-default-color;
      background: $c-input-default-background;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    &.form-input-borderless {
      input {
        border: dashed 1px $border-color-borderless;
        box-shadow: none;
        font-weight: normal;
      }
    }
  }

  /*
   *  Edit mode
   */
  &.c-edit-mode-edit {
    input {
      border-color: $border-color-default;
      font-family: $c-input-default-font-family;
      font-weight: $c-input-default-font-weight;
      font-size: $c-input-default-font-size;
      color: $c-input-default-color;
      background: $c-input-default-background;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    &.form-input-borderless {
      input {
        border: dashed 1px $border-color-borderless;
        box-shadow: none;
        font-weight: normal;
      }
    }
  }

  // Live mode
  &.c-edit-mode-view {
    input {
      border-color: $border-color-default;
      font-family: $c-input-default-font-family;
      font-weight: $c-input-default-font-weight;
      font-size: $c-input-default-font-size;
      color: $c-input-default-color;
      background: $c-input-default-background;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;

      // hack for ADLforms
      height: 20px;
      border: none;
      font-family: Arial;
      font-weight: bold;
      font-size: 12px;
    }
    &.form-input-borderless {
      input {
        border: none;
        box-shadow: none;
      }
    }
  }
}
