.c-form-output {
  $frame-color: pink;
  $text-color: #700;

  .sanity-error {
    color: red;
    font-family: courier;
    font-size: 11px;
  }

  /*
   *  Design mode
   */
  &.c-edit-mode-debug {
    // border-top: solid 4px $frame-color;
    // border-left: dashed 2px $frame-color;
    // border-bottom: dashed 2px $frame-color;
    // border-right: dashed 2px $frame-color;
    // margin: 1px;
    //
    // .container {
    //   width: 90% !important;
    // }
    border: solid 1px blue;
    input {
      background: $c-input-default-background;
    }
  }

  /*
   *  Edit mode
   */
  &.c-edit-mode-edit {
    input {
      background: $c-input-default-background;
    }
  }

  /*
   *  Live mode
   */
  &.c-edit-mode-view {
    .my-output {
      position: relative;
      top: 1px;
      left: -0px;

      font-family: $c-pdf-font-family;
      font-size: $c-pdf-font-size;
      font-weight: $c-pdf-font-weight;
      font-style: $c-pdf-font-style;
      color: $c-pdf-color;
    }
  }
}
