.c-form-grid {

  $frame-color: lightblue;
  $text-color: blue;

  .my-column-label {
    cursor: pointer;

    &.is-selecteZd {
      color: red;
    }
  }
  .my-refreshCounter {
    display: none;
  }

  /*
   *  Design mode
   */
  &.c-edit-mode-debug {
    border-left: dashed 2px $frame-color;
    border-bottom: dashed 2px $frame-color;
    border-right: dashed 2px $frame-color;
    margin: 1px;

    background-color: #f0f0f7;

    .c-layout-mode-heading {
      // This overrides the definition in content-editor.scss
      background-color: $frame-color;
      color: $text-color;
    }

    &.c-selected {
      //border-color: $c-editbar-color;
      border-color: $c-editbar-color;
    }
  }//- design mode

  /*
   *  Live mode
   */
  &.c-edit-mode-view {
    table {
      margin-bottom: 8px;
    }
  }
}//- .c-form-grid
