
/*
 *  Toolbox icons
 */
.c-toolbox-icon-date {
  background-image: url("../../assets/icons/icon-date-26.png");
}
.c-toolbox-icon-time {
  background-image: url("../../assets/icons/icon-time-26.png");
}
.c-toolbox-icon-dropdown {
  background-image: url("../../assets/icons/icon-dropdown-26.png");
}
.c-toolbox-icon-checkbox {
  background-image: url("../../assets/icons/icon-checkbox-26.png");
}
.c-toolbox-icon-fixed-form {
  background-image: url("../../assets/icons/icon-form-26.png");
}
.c-toolbox-icon-label {
  background-image: url("../../assets/icons/icon-label-26.png");
}
.c-toolbox-icon-line {
  background-image: url("../../assets/icons/icon-line-26.png");
}
.c-toolbox-icon-image {
  background-image: url("../../assets/icons/icon-image-26.png");
}
.c-toolbox-icon-input {
  background-image: url("../../assets/icons/icon-input-26.png");
}
.c-toolbox-icon-grid {
  background-image: url("../../assets/icons/icon-grid-26.png");
}
.c-toolbox-icon-button-panel {
  background-image: url("../../assets/icons/icon-buttonpanel-26.png");
}
.c-toolbox-icon-responsive-form {
  background-image: url("../../assets/icons/icon-form-26.png");
}
.c-toolbox-icon-textarea {
  background-image: url("../../assets/icons/icon-textarea-26.png");
}
.c-dropdown-caret-icon {
  background-image: url("../../assets/icons/icons8-drop-down-24.png");
}
