// Styles for editing "debug" mode


// The editbar, at the top of the edit area
$c-editbar-height: 16;
$c-editbar-color: #dd0038;


// The heading above a widget when editing
$c-heading-height: 13px;
$c-heading-font-size: 11px;
$c-heading-icon-font-size: 10px;

// Properties being edited
$c-property-label-color: #666;
$c-property-value-color: #88a;

// Margins above and below embeds (slides, videos, etc)
$c-embed-margin-top: 20px;
$c-embed-margin-bottom: 20px;
$c-embed-border-color: #d0d0d0;

// Borders around widgets in design mode
$f-widget-top-left-color: #ccc;
$f-widget-bottom-right-color: #999;

// Default input styles
$c-input-default-color: blue;
$c-input-default-font-size: 15px;
$c-input-default-font-family: Arial;
$c-input-default-font-weight: bold;
$c-input-default-background-color: #ffffcc;
// $c-input-default-background-color: #FFF7AE;

// Defaults while editing
$c-input-layout-font-size: 13px;
$c-input-layout-border-color-1: solid 1px #d1b9a3;
$c-input-layout-frame-color: #ffe9d5;
$c-input-layout-border-color-2: solid 1px #8c7b6c;
