// Styles for editing "debug" mode


// The editbar, at the top of the edit area
$c-editbar-height: 16;
$c-editbar-color: #dd0038;


// The heading above a widget when editing
$c-heading-height: 13px;
$c-heading-font-size: 11px;
$c-heading-icon-font-size: 10px;

// Properties being edited
$c-property-label-color: #666;
$c-property-value-color: #88a;

// Margins above and below embeds (slides, videos, etc)
$c-embed-margin-top: 20px;
$c-embed-margin-bottom: 20px;
$c-embed-border-color: #d0d0d0;

// Borders around widgets in design mode
$f-widget-top-left-color: #ccc;
$f-widget-bottom-right-color: #999;


.formservice-toolbox-button {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/button.png');
}

.formservice-toolbox-form {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/form.png');
}

.formservice-toolbox-label {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/label.png');
}

.formservice-toolbox-numberedList {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/numberedList.png');
}

.formservice-toolbox-select {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/select.png');
}

.formservice-toolbox-text {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/text.png');
}

.formservice-toolbox-textarea {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/textarea.png');
}
