
/*
 *  Properties styles
 */
.formservice-toolbox-button {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/button.png');
}

.formservice-toolbox-form {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/form.png');
}

.formservice-toolbox-label {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/label.png');
}

.formservice-toolbox-numberedList {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/numberedList.png');
}

.formservice-toolbox-select {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/select.png');
}

.formservice-toolbox-text {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/text.png');
}

.formservice-toolbox-textarea {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/textarea.png');
}


/*
 *  Input errors.
 */
.c-input-error-icon {
  background-image: url("../../assets/icons/icons8-error-30.png");
}

/*
 *	Styles for our components.
 */
@import './components/toolbox.scss'
@import './components/form-input.scss'
