
/*
 *  Properties styles
 */
.formservice-toolbox-button {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/button.png');
}

.formservice-toolbox-form {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/form.png');
}

.formservice-toolbox-label {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/label.png');
}

.formservice-toolbox-numberedList {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/numberedList.png');
}

.formservice-toolbox-select {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/select.png');
}

.formservice-toolbox-text {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/text.png');
}

.formservice-toolbox-textarea {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/images/toolbox/textarea.png');
}

/*
 *  Toolbox icons
 */
.c-toolbox-icon-date {
  background-image: url("../../assets/icons/icon-date-26.png");
}
.c-toolbox-icon-time {
  background-image: url("../../assets/icons/icon-time-26.png");
}
.c-toolbox-icon-dropdown {
  background-image: url("../../assets/icons/icon-dropdown-26.png");
}
.c-toolbox-icon-checkbox {
  background-image: url("../../assets/icons/icon-checkbox-26.png");
}
.c-toolbox-icon-fixed-form {
  background-image: url("../../assets/icons/icon-form-26.png");
}
.c-toolbox-icon-label {
  background-image: url("../../assets/icons/icon-label-26.png");
}
.c-toolbox-icon-input {
  background-image: url("../../assets/icons/icon-input-26.png");
}
.c-toolbox-icon-grid {
  background-image: url("../../assets/icons/icon-grid-26.png");
}
.c-toolbox-icon-button-panel {
  background-image: url("../../assets/icons/icon-buttonpanel-26.png");
}
.c-toolbox-icon-responsive-form {
  background-image: url("../../assets/icons/icon-form-26.png");
}
.c-toolbox-icon-textarea {
  background-image: url("../../assets/icons/icon-textarea-26.png");
}

/*
 *  ADL Forms styles
 */
.c-toolbox-icon-address {
  background-image: url("../../assets/adlforms/icon-address-26.png");
}
.c-toolbox-icon-areas {
  background-image: url("../../assets/adlforms/icon-areas-26.png");
}
.c-toolbox-icon-numbered-section {
  background-image: url("../../assets/adlforms/icon-numbered-section-26.png");
}
.c-toolbox-icon-signature {
  background-image: url("../../assets/adlforms/icon-signature-26.png");
}
.c-toolbox-icon-pdf-output {
  background-image: url("../../assets/adlforms/icon-pdf-26.png");
}
.c-toolbox-icon-display-pdf {
  background-image: url("../../assets/adlforms/icon-pdf-26.png");
}
.c-toolbox-icon-submit {
  background-image: url("../../assets/adlforms/icon-submit-26.png");
}
